/* ukuran tablet */

@media all and(max-width: 1000px) {
    .nav ul{
        width: 50%;
    }

    .top-wrapper h1{
        font-size: 32px;
    }

    .heading h2{
        font-size: 20px;
    }
    
    .paket{
        width: 60%;
        margin-bottom: 50px;
    
    }
    .partner{
        width: 50%;
        margin-bottom: 20px;
    }

    .Btn{
        width: 50%;
    }

}

/* ukuran mobile */
@media all and (max-width: 670px) {
    .menu-toggle{
        display: flex;
    }
    .nav ul{
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color:rgba(255,105,180, .7) ;
        z-index: 1;
        transform: translate(100%);
        transition: all 1s;
    }

    .nav ul li a{
        color: white;
    }

    .nav ul.slide{
        opacity: 1;
        transform: translate(0);
    }
    
    .top-wrapper h1{
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        z-index: -1;
    }

    .top-wrapper p{
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }

    .btn{
        width: 100%;
    }

    .home{
        margin-bottom: 10px;
    }

    .paket{
        width: 100%;
    }

    .partner{
        width: 100%;
        text-align: center;
    }

    .top-contact{
        width: 100%;
    }

    .Btn{
        width: 100%;
    }

    .footer{
        text-align :center;
    }



}